.upcoming-work {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 0.0625rem solid #dadce0;
    border-radius: .5rem;
    padding: 1em;
    height: 6em;
    width: 8em;
}

.upcoming-work h2 {
    letter-spacing: .01785714em;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #3c4043;
    text-transform: none;
    margin: 0 0 0 0;
}

.upcoming-work p {
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.25rem;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    color: rgba(0,0,0,.549);
    margin: 0 0 0 0;
}

#nav-to-all {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-decoration: none;
    color: #1a73e8;
    letter-spacing: .01785714em;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
}

.class-code {
    display: flex;
    flex-direction: column;
    border: 0.0625rem solid #dadce0;
    border-radius: .5rem;
    padding: 1em;
    height: 4em;
    width: 8em;
}

.class-code h2 {
    letter-spacing: .01785714em;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #3c4043;
    text-transform: none;
    margin: 0 0 0 0;
}


#cls-code h1{
    line-height: 1.75rem;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 1.5rem;
    fill: #1a73e8;
    color: #1a73e8;
    margin: .5em 0 0 0;
}

#assignment-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

#assignment-title:hover  {
    color: #1a73e8;
}
