.crt-announcement-cont:hover {
    height: 16em;
}

.crt-announcement-cont {
    display: flex;
    flex-direction: column;
    width:49em;
    height: 8em;
    border-radius: .5rem;
    border: 0.0625rem solid #dadce0;
    margin-bottom: 2em;
}

.announcement-form-cont {
    display: flex;
    height:100%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
}

.announcement-form-cont form {
    width: 100%;
    height: 100%;
}
.announcement-form-cont textarea {
    width: 100%;
    height: 100%;
    border: 0px solid white;
    background-color: #f8f9fa;
}
