.join-class-cont {
    margin: 1.5em auto;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 2em
}

.join-class-account {
    max-width: 100%;
    padding: 1em 0em 1em 1em;
    height: 8em;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    border-radius: 0.5rem;
    border: 0.0625rem solid #dadce0;
}

#name-cont-join {
    margin-bottom: 0em;
}

#email {
    margin-top: 0em;
}

#user-info-cont {
width: 2em;
height: 2em;
display: flex;
flex-direction: row;
gap: 1em;
}

#user-info-cont img {
    width: 100%;
    height: 100%;
}

.join-class-account p {
    color: #7f7f7f;
    font-size: 0.875rem;
}

.class-code-cont h2 {
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 1.12rem;
    font-weight: 400;
    line-height: 1.55rem;
    color: #3c4043;
}

#class-code-sign {
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 1.12rem;
    font-weight: 400;
    line-height: 1.55rem;
    color: #3c4043;
}

#steps {
    letter-spacing: .0142em;
    font-family: Roboto,Arial,sans-serif;
    font-size: 0.85rem;
    font-weight: 400;
    line-height: 1.22rem;
    margin-top: 0em;
    color: #3c4043;
}
.class-code-cont p {
    letter-spacing: .0142em;
    font-family: Roboto,Arial,sans-serif;
    font-size: 0.85rem;
    font-weight: 400;
    line-height: 1.22rem;
    margin-top: 0em;
    color: #3c4043;
}

#join-class-button {
    border: none;
    background-color: #1a73e8;
    width: 5em;
    height: 1.5em;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    margin-top: .5em;
}

#join-class-button:hover {
    background-color: #185abc;
    transition-duration: 700ms;
}
.class-code-cont {
    display: flex;
    padding: 1em 0em 1em 1em;
    align-items: flex-start;
    flex-direction: column;
    max-width: 100%;
    height: 14em;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    border-radius: 0.5rem;
    border: 0.0625rem solid #dadce0;
}

#cls-code-input {
    width: 50%;
    height: 4em;
}

.code-input-cont {
    gap: 1em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

#pfp {
    display: flex;
    align-items: flex-start;
    height: 1.2em;
    width: 1.2em;
    cursor: pointer;
    border-radius: 50%;
}

#pfp:hover {
    transition-duration: 500ms;
    background-color: rgba(0, 0, 0, .1);
}

#pfp img {
    height: 100%;
    width: 100%;
}


.nav-second {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}


.delete-assignment {
    display: flex;
    flex-direction: column;
    width: 15em;
    height: 6em;
    gap: 1em;
    padding: 1.5em;
}

.delete-assignment h4 {
    margin: 0 0 0 0;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .1px;
    line-height: 24px;
}

.delete-assignment p {
    margin: 0 0 0 0;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    color: #5f6368;
}

#delete-assignment-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#cancel-delete {
    border: none;
    width: 5em;
    color: #1a73e8;
    background-color: #fff;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .25px;
    line-height: 36px;
    cursor: pointer;
}

#cancel-delete:hover {
    transition-duration: 500ms;
    background-color: rgba(0, 0, 0, .1);
}

#delete-assignment {
    border: none;
    width: 5em;
    background-color: #fff;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .25px;
    line-height: 36px;
    cursor: pointer;
    color: #5f6368;
}

#delete-assignment:hover {
    transition-duration: 500ms;
    background-color: rgba(0, 0, 0, .1);
}
