.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.home-icon {
  display: flex;
  flex-direction: row;
  cursor: pointer
}

#classroom {
  position: relative;
  color: #5f6368;
  font-family: "Product Sans", Arial, Helvetica, sans-serif;
  padding-left: .25rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.nav-cont {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 1em;
  padding-left: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.38125rem;
  border-bottom: 0.0625rem solid #e0e0e0;
}

.cls-nav {
  display: flex;
  gap: 1em;
  align-items: center;
}



.pending {
  color: gray;
  fill: gray;
  text-decoration: none;
  letter-spacing: .01785714em;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
}
.active {
  color: #1a73e8;
  fill: #1a73e8;
  text-decoration: none;
  letter-spacing: .01785714em;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
}

#join-class-link {
  text-decoration: none;
  text-align: center;
  color: #1a73e8;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  background-color: #fff;
  border: none;
  width: 8em;
  height: 2.5em;
  cursor: pointer;
}
