.cls-none {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 8em 0em;
}

#landing-txt {
    letter-spacing: .01785714em;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #3c4043;
    text-align: center;
}

.cls-none-buttons {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-top: .5em;
}

#create-class {
    text-align: center;
    color: #1a73e8;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    background-color: #fff;
    border: none;
    width: 8em;
    height: 2.5em;
}

#join-class {
    text-align: center;
    color: #fff;
    background-color: #1a73e8;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    width: 8em;
    height: 2.5em;
}

.cls-individual {
    width: 18.75rem;
    height: 18.375rem;
    border-radius: 5px;
    border-bottom: 0.0625rem solid #dadce0;
    cursor: pointer;
}

.cls-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5em;
    margin: 6em 2em 0em;
}

.cls-banner-cont {
    height: 30%;
    background-size: cover;
    border-radius: 5px;

}

.cls-info {
    display: flex;
    flex-direction: row;
    max-height: 100%;
    justify-content: space-between;
}
#settings-icon {
    margin: 1em 1em 1em 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 2.5em;
    height: 2.5em;
    border-radius: 1.5rem;
}

#settings-icon :hover {
    background-color: rgba(0,0,0,.1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 1.5rem;
    width: 1em;
    height: 1em;
}
.cls-name-section {
    margin: 1em 0em 1em 1em;
}
.cls-name-section h2  {
    margin-top: 0em;
    margin-bottom: 0em;
}

.cls-name-section h4 {
    margin-top: 0em;
    margin-bottom: 0em;
}
.cls-assignment-qk {
    border-left:0.0625rem solid #dadce0;
    border-right:0.0625rem solid #dadce0;
   height: 50%;
}
.cls-options {
    border-top:0.0625rem solid #dadce0;
    border-left:0.0625rem solid #dadce0;
    border-right:0.0625rem solid #dadce0;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
    height: 20%;


}

.cls-options-cont {
    position: absolute;
    background-color: #fff;
    transform-origin: left top;
    width: 7em;
    height: 10em;
    margin-left: 17em;
    margin-top: 3.3em;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    font-family: Roboto,Arial,sans-serif;
    font-size: 1rem;
    letter-spacing: .00625em;
    font-weight: 400;
    border-radius: 3px;
    /* max-height: 242px; */
}
